<nav class="navbar navbar-default navbar-inverse navbar-static-top">
    <div class="container">
      <span class="header-bar">
        <!-- <h3 class="header-title">Tonally </h3> -->
        <a href="/logout">Logout</a>
        <a href="/">Login</a>
        <a href="/profile">Profile</a>
        <a href="/mainGame">Main Game</a>
        <a href="/memoryGame">Memory Game</a>
        <a href="/earGame">Ear Game</a>
        <a href="/songGame">Song Game</a>
        <a href="" id="float-left-nav-title">Tonally</a>
      </span>
    </div>
  	</nav>