<!DOCTYPE html>
<html lang="">
	<% include partials/head.ejs %>
	<body>
		<div class="container">
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				
				<!-- Title -->
				<div class="title">
					<h1>Tonally Perfect</h1>
				</div>

				<!-- Login / Register Element -->
				<% include partials/login.ejs %>

			</div>
		</div>
		</div>
	</body>
</html>