<!DOCTYPE html>
<html lang="">
<% include partials/head.ejs %>
<body>
  
  <% include partials/nav.ejs %>

<!--   <div class="title">
     <h1>Tonally </h1>
  </div> -->

  <!-- using glyphicons http://getbootstrap.com/components/ -->
  <div class="container" id="thumbnail">
    <div class="col-sm-6">
      <div class="row text-center">
        <div class="col-xs-3">
          <div class="thumbnail">
            <span class="glyphicon glyphicon-asterisk" />
          </div>          
        </div>
        <div class="col-xs-3">
          <div class="thumbnail">
            <span class="glyphicon glyphicon-gift" />
          </div>          
        </div>
        <div class="col-xs-3">
          <div class="thumbnail">
            <span class="glyphicon glyphicon-fire" />
          </div>          
        </div>
        <div class="col-xs-3">
          <div class="thumbnail">
            <span class="glyphicon glyphicon-leaf" />
          </div>          
        </div>
      </div>
      <div class="row text-center">
        <div class="thumbnail col-xs-3">
          <span class="glyphicon glyphicon-bell" />
        </div>
        <div class="thumbnail col-xs-3">
          <span class="glyphicon glyphicon-plane" />
        </div>
        <div class="thumbnail col-xs-3">
          <span class="glyphicon glyphicon-flash" />
        </div>
        <div class="thumbnail col-xs-3">
          <span class="glyphicon glyphicon-phone-alt" />
        </div>
      </div>
        <div class="row text-center">
        <div class="thumbnail col-xs-3">
          <span class="glyphicon glyphicon-apple" />
        </div>
        <div class="thumbnail col-xs-3">
          <span class="glyphicon glyphicon-lamp" />
        </div>
        <div class="thumbnail col-xs-3">
          <span class="glyphicon glyphicon-sunglasses" />
        </div>
        <div class="thumbnail col-xs-3">
          <span class="glyphicon glyphicon-grain" />
        </div>
      </div>
    </div>
    <div class="col-sm-6 text-center">
      <div class="thumbnail" id="main-thumbnail">
        
      </div>
    </div>
  </div>
  
</body>
</html>