<!DOCTYPE html>
<html lang="">
<% include partials/head.ejs %>
<body>
  
  <% include partials/nav.ejs %>
  
 <!--  <div class="title">
     <h1>Tonally </h1>
  </div> -->

  <!-- using glyphicons http://getbootstrap.com/components/ -->
  <div class="row" id="thumbnail">
  <div class="col-xs-4 col-md-4">
    <a href="" class="thumbnail">
      <span class="glyphicon glyphicon-music" />
    </a>
  </div>

  <div class="col-xs-6 col-md-6">
    <a href="" class="thumbnail" id="main-thumbnail">
    </a>
  </div>

</div>
  
</body>
</html>